@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body, html {
  font-family: "Space Grotesk", sans-serif;
}
